
  p{
    color: yellow;
    background-color: green;
    font-size: 30px;


  }
   .xyz{
    font-size: 35px;
color: hotpink !important;
background-color: black;


   }

   .abc{
  
  font-size: 40px;
  color: aquamarine;


   }

  

